<h1>Registered Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Original Avatar</th>
      <th>Thumbnail Avatar</th>
    </tr>
  </thead>

  <tbody>
	<% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
		<!-- display the avatar in both the original size and the thumbnail size -->
		<td><%= image_tag user.avatar.url %></td>
		<td><%= image_tag user.avatar.url(:thumb) %></td>
		
    <% end %>
  </tbody>
</table>
<br>

